<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">jot down ideas for yore youtube videos</p>
    <hr class="my-4">
    <a class="btn btn-dark btn-lg" href="/ideas/add" role="button">Add video Idea</a>
</div>